.Tab {
    margin: 0;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
}

.Tab a {
    text-decoration: none;
    padding: 13px 10px;
    line-height: 20px;
    border-bottom: 4px solid transparent;
    box-sizing: border-box;
    display: block;

    background-color: grey;
    color: white;
    overflow:hidden;
    white-space:nowrap;
    text-overflow: ellipsis;
}

.Tab a:hover,
.Tab a:active,
.Tab a.active {
    background-color: darkgrey;
    border-bottom: 4px solid black;
    color: white;
}
